{
  "customSyntax": "postcss-scss",
  "extends": "stylelint-scss",
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "font-family-no-duplicate-names": true,
    "font-family-no-missing-generic-family-keyword": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "keyframe-declaration-no-important": true,
    "media-feature-name-no-unknown": true,
    "named-grid-areas-no-invalid": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "string-no-newline": true,
    "unit-no-unknown": true,
    "property-no-unknown": true,
    "selector-max-id": 0,
    "selector-max-compound-selectors": 3,
    "selector-no-qualifying-type": true,
    "no-duplicate-selectors": true,
    "no-empty-source": null,
    "color-hex-length": "long",
    "color-named": "never",
    "comment-whitespace-inside": "always",
    "max-nesting-depth": 3,
    "no-unknown-animations": true,
    "value-keyword-case": "lower"
  }
}
