@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "./styles";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


// KG-2024-06-05_11-12-PM: lets move these to styles.scss for consistency?
body {
  font-family: 'CustomFont', sans-serif;
}

.custom-padding {
  padding: 0px 10px;
  height: 20px;
  line-height: 15px !important;
  margin: auto;
}

.icon {
  width: 12px;
  height: 12px;
}

.lang-color {
  width: 10px;
  height: 10px;
  border-radius: 69px;
  border: 1px solid #ffffff;
}
