@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// some scrollbar coloring. can be changed.
@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #111111;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--blueGR);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #444444;
  }
}


// body {
//   @apply flex flex-col min-h-screen bg-gradient-to-b from-blue-400 to-indigo-600;
//   vertical-align: middle;
//   align-items: center;
//   width: 100vw;
// }

// .entry {
//   @apply max-w-md w-full bg-white shadow-lg rounded-lg p-8;
// }

// h1 {
//   @apply text-3xl font-semibold mb-6;
// }

// p {
//   @apply text-gray-600 mb-6;
// }

// .btn {


//   @apply bg-indigo-700 hover:bg-indigo-900 text-blue-300 px-4 py-0 rounded-md;
// }

// html {
//   scroll-behavior: smooth;
// }

// .documentation {
//   max-width: 1150px;
//   margin: 0 auto;
// }

// .section {
//   margin-top: 40px;
// }

// .section h2 {
//   color: #ffffff;
//   font-size: 24px;
//   margin-bottom: 10px;
// }

// .section p {
//   margin-top: 5px;
//   color: #ffffff;
// }

// code {
//   text-align: left;
//   padding: 10px 30px !important;
//   border-radius: 10px;
//   position: relative;

//   &::after {
//     content: "SCSS";
//     padding: 3px 5px 2px;
//     position: absolute;
//     top: 0;
//     right: 0;
//     background: #383d49;
//     border-bottom-left-radius: 10px;
//   }
// }

// .nav {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   padding: 10px 0;
//   gap: 10px;
// }

// .nav a {
//   color: #ffffff;
//   margin: 0 10px;
//   font-weight: bold;
//   text-decoration: underline;
// }

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  background: #32353c;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  color: #ffffff;

  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
}
